<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title layout:title-pattern="$LAYOUT_TITLE | $CONTENT_TITLE">JARVIS DISCO</title>
  <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>

<nav class="navbar navbar-expand-lg" style="background-color: #e5bb9c; font-family: 'Bodoni Seventy Two Bold', serif;">
  <div class="container-fluid">
    <a class="navbar-brand" th:href="@{/home}" style="font-family: 'Bodoni Seventy Two Bold', serif;">JARVIS DISCO</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/album/cadastrar}" style="font-family: 'Bodoni Seventy Two Bold', serif;">Cadastrar Álbum</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/album/listar}" style="font-family: 'Bodoni Seventy Two Bold', serif;">Listagem de Álbuns</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/album/pesquisar}" style="font-family: 'Bodoni Seventy Two Bold', serif;">Pesquisar Artista</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div layout:fragment="conteudo" class="container mt-5">
  <h1>JARVIS DISCO</h1>
  <h2>Lista de Integrantes</h2>
  <ul class="list-group">
    <li class="list-group-item">Raphael Pabst  rm98525</li>
    <li class="list-group-item">Silvio Junior rm550821</li>
    <li class="list-group-item">Pedro Braga  rm551061</li>
    <li class="list-group-item">Eduardo Reis Braga rm551987</li>
    <li class="list-group-item">Vinícius Martins Torres Abdala rm99455</li>
  </ul>
</div>

</body>
</html>
